<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#">
                <img src="images/logo-mercado-liebre.svg" width="70%" alt="Logo MercadoLiebre">
                </a>
                <!-- LUGAR BARRA DE BUSQUEDA -->
                <div id="sin-cuotas">
                    <h3>Compra en cuotas y sin tarjeta de credito</h3>
                </div>
                <br>
            <nav  id=""   class="nav">
                <ul type="none">
                    <li><a href="#">Oferta</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul type="none">
                    <li><a href="#">Crea tu cuenta</a></li>
                    <li><a href="#">Ingresa</a></li>
                    <li><a href="#">Mis Compras</a></li>
                </ul>
            </nav>
        </div>
</header>
    <main class="productos container">
        <div class="Banner">
            <a href="#"><img src="images/img-home-banner.jpg" width="80%" alt="Banner"></a>
        </div>
    <section class="container-1">
        <div>
            <h2 id="ultima-vista">Basado en tu Ultima visita</h2>
        </div>
        <article>
            <div class="img-product">
            <div class="product-varios">
                <img src="images/img-cafetera-moulinex.jpg" width="20%" alt="cafetera moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-macbook-pro-2019.jpg" width="20%" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-samsung-galaxy-s10.jpg" width="20%" alt="Samgung Galaxy s10">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Samgung Galaxy s10</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-tv-samsung-smart.jpg" width="20%" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>15% off</p>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </article>
    </section>
    <section class="container-2">
        <div>
            <h2 id="seccion-ofertas">Seccion de Ofertas</h2>
        </div>
        <article>
            <div class="product-varios">
                <img src="images/img-cafetera-moulinex.jpg" width="20%" alt="cafetera moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-macbook-pro-2019.jpg" width="20%" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>420% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-samsung-galaxy-s10.jpg" width="20%" alt="Samgung Galaxy s10">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Samgung Galaxy s10</h3>
            </div>
        </article>
        <article>
            <div class="product-varios">
                <img src="images/img-tv-samsung-smart.jpg" width="20%" alt="SmartTv Samsung 43">
                <p>$23.200</p>
                <p>15% off</p>
                <h3>SmartTv Samsung 43</h3>
            </div>
        </article>
    </section>
    </main>
    <footer class="footer">
    <div class="footer container">
        <div class="footer-txt">
            <ul type="none">
                <li> 
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </li>
            </ul>
        </div>
        <div class="footer-txt">
            <ul type="none">
                <li> 
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </li>
            </ul>
        </div>
        <div class="footer-txt">
            <ul type="none">
                <li> 
                    <h4> Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
    <h6> Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </div>
</div>
</footer>
</body>
</html>
