<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <div class="header_top container">
            <a class="logo-contenedor" href="./"><img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" class="logo"></a>
            <form class="busqueda-contenedor" action="">
                <input class="busqueda home-logo-busqueda" type="text" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass" style="color: #050505;"></i>
            </form>
            <h3 class="cuotas-tarjeta">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>
                Compra en cuotas y sin tarjeta de credito
            </h3>
        </div>
        <a href="" class="menu-hambu">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="nav">
                <ul class="nav_ul">
                    <li><a href="#">Oferta</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav_ul">
                    <li><a href="./register">Crea tu cuenta <i class="fa-solid fa-address-card" style="color: #000000;"></i></a></li>
                    <li><a href="./login">Ingresa <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
                </ul>
        </nav>
</header>
        <div class="Banner">
                <a href="#"><img src="images/img-home-banner.jpg" alt="Banner" class="banner"></a>
            </div>
            <div>
            <h2 id="ultima-vista">Basado en tu Ultima visita</h2>
        </div>
<main class="productos container">
    <section class="contenedor-productos1 container">
        <article class="articulos">
            <div class="box">
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$6.770</p>
                    <p class="descuento-txt">40% OFF</p>
                </div>
                <p class="modelo-txt">Cafetera Moulinex</p>
            </div>
        </div>
        </article>
        <article class="articulos">
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$230.000</p>
                    <p class="descuento-txt">20% off</p>
                </div>
                <p class="modelo-txt">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="articulos">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samgung Galaxy s10">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$6.770</p>
                    <p class="descuento-txt">40% OFF</p>
                </div>
                <p class="modelo-txt">Samgung Galaxy s10</p>
            </div>
        </article>
        <article class="articulos">
            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$23.200</p>
                    <p class="descuento-txt">15% off</p>
                </div>
                <p class="modelo-txt">SmartTv Samsung 43</p>
            </div>
        </article>
    </section>
    <div>
        <h2 id="seccion-ofertas">Seccion de Ofertas</h2>
    </div>
    <section class="contenedor-productos2 container">
        <article class="articulos">
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$6.770</p>
                    <p class="descuento-txt">40% OFF</p>
                </div>
                <p class="modelo-txt">Cafetera Moulinex</p>
            </div>
        </article>
        <article class="articulos">
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$230.000</p>
                    <p class="descuento-txt">20% off</p>
                </div>
                <p class="modelo-txt">MacBook Pro 2019</p>
            </div>
        </article>
        <article class="articulos">
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Samgung Galaxy s10">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$6.770</p>
                    <p class="descuento-txt">40% OFF</p>
                </div>
                <p class="modelo-txt">Samgung Galaxy s10</p>
            </div>
        </article>
        <article class="articulos">
            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
            <div class="product-texto">
                <i class="fa-regular fa-circle" style="color: #12c427;"></i>
                <i class="fa-solid fa-truck" style="color: #12c427;"></i>
                <div class="main_descuento_precio_articulo">
                    <p class="precio-txt">$23.200</p>
                    <p class="descuento-txt">15% off</p>
                </div>
                <p class="modelo-txt">SmartTv Samsung 43</p>
            </div>
        </article>
    </section>
</main>
    <footer class="footer">
    <div class="footer container">
        <div class="footer-txt">
            <i class="icono-footer fa-solid fa-credit-card" style="color: #1259c3;"></i>
            <ul type="none">
                <li> 
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </li>
            </ul>
        </div>
        <div class="footer-txt">
            <i class="icono-footer fa-solid fa-gift" style="color: #1259c3;"></i>
            <ul type="none">
                <li> 
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </li>
            </ul>
        </div>
        <div class="footer-txt">
            <i class="icono-footer fa-solid fa-user-shield" style="color: #1259c3;"></i>
            <ul type="none">
                <li> 
                    <h4> Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@</p>
                </li>
            </ul>
        </div>
    </div>
</footer>
    <div class="copyright">
        <h6> Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </div>
</body>
</html>
