:root{
    --amarillo: #EAC926;
    --color-azul: #03264C; 
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
    --color-negro: black;
    --color-blanco: white;
    --color-nose: #ebebeb;
    }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}